.bg-light {
  background-color: #c6c9cc !important;
}

.pink {
  background-color: #c6c9cc;
  border: 2px solid black;
  text-align: center;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: rgb(208, 219, 217);
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.btn-new {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d4d4d6;

  border: 2px solid rgb(0, 0, 0);
}

.txt-algn {
  text-align: center;
}

.button5 {
  border-radius: 20%;
}

body {
  padding-top: 70px;
  background-color: black;
}

.vheight {
  height: 100vh;
  padding-top: 150px;
  padding-bottom: 150px;
}

/* .selfie {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
} */

.new {
  border: 2px solid white;
  height: 100vh;
}

.new1 {
  border: 2px solid white;
  height: 33.33%;
}

.img-thumbnail2 {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  /* max-width: 100%; */
  height: 225px;

  width: 200px;
}

.container {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.img-thumb {
  padding: 0.25rem;
  background-color: #ffffff;
  border: 3px solid #000000;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.img-thumb1 {
  padding: 0.25rem;
  background-color: #ffffff;
  border: 3px solid #bdb7b7;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.thumbnail {
  /* padding: 0.25rem; */
  background-color: #fff;
  /* border: 1px solid #dee2e6; */
  /* border-radius: 0.25rem; */
  max-width: 100%;
  height: auto;
  /* margin-bottom: 20px; */
}

.ht {
  height: 100vh;
  padding-top: 75px;
  padding-bottom: 150px;
}

.ht1 {
  height: 167.33px;
  width: 161px;
}

.clr {
  color: rgb(74, 127, 241);
}
.clr1 {
  color: rgb(0, 0, 0);
}
/* 
.col-lg-4 {
  padding: 0;
  margin: 0;
}
 */

.row1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -15px; */
  /* margin-left: -15px; */
}

.back {
  background-color: #dee2e6;
  border: 2px solid white;
}

.box {
  display: flex;
}

.one {
  flex: 1;
}

.two {
  flex: 1;
}

.three {
  flex: 1;
}

.one1 {
  flex: 1 1 0.5;
}
